body {
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    color: white;
}

h2 {
    color: white;
}

p {
    color: white;
}

h4 {
    color: white;
}

h5 {
    cursor: pointer;
    color: #00f260; 
    transition: color 0.3s, text-decoration 0.3s;
}

h5:hover {
    color: #0575e6; 
    text-decoration: underline; 
}

th{
    color: white;
}

td {
    color: white;
}

.form-check-label {
    color: white;
}

.form-label{
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
}

.page {
    background-color: black;
    color: white;
    margin-top: 10px;
    padding: 1em;
    border: 2px solid transparent;
    border-image: linear-gradient(to right, #00f260, #0575e6) 1;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.5), 0 0 20px rgba(0, 255, 255, 0.5), 0 0 30px rgba(0, 255, 255, 0.5);
}

.collapsible-content {
    display: none;
    padding: 0 18px;
    overflow: hidden;
    background-color: black;
    color: white;
}

.stars {
    font-size: 1.5em; /* Adjust size as needed */
    color: #FFD700; /* Gold color for stars */
}

#socials {
    display: none; /* Hide by default */
}

#socials a {
    margin: 10px 0;
    color: white;
}

#header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1em;
}

#title {
    color: white;
    text-align: center;
    padding-top: 40px;
    
}

#hex{
    color: white;
} 

#shield {
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 50%;
    float: center;
}

#social-bottom {
    margin-top: 30px;
}

#social-bottom a{
    color: white;
}

#hex {
    display: inline-block;
    width: 400px; /* Adjust this width as needed */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}




@media (min-width: 800px) {
    #socials {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #social-bottom {
        display: none;
    }
}


